@import "/src/Resources/scss/variables/colorThemes";

#Login {
    background: $secondary-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form-container {
        background: $primary-color;
        width: 400px;
        height: 510px;
        padding: 22px;
        box-shadow: 0px 4px 10px rgba(29, 29, 27, 0.2), 0px 0px 1px rgba(29, 29, 27, 0.15);

        h2 {
            font-family: "Aitana-Regular";
            font-size: 30px;
            font-weight: 100;
        }
    }
}