@import "/src/Resources/scss/variables/colorThemes";

.SelectorMenuItem {
    position : relative;
    transition: all ease 200ms;
    border-bottom: solid 1px #E3E3E3;

    &.isFilled { 
        border-bottom: none !important;
    }

    .icon-selector-container {
        top: 21%;
        left: 4%;
        right: 0;
        bottom: 0;
        z-index: 4;
        width: 15px;
        height: 15px;
        position: absolute;
        color : $flat-color;
    }

    &.isHover { 
        border-bottom-color: #000000;
    }

    & .lineStyle {
        width : 2px;
        height: 1px;
        background: #000000;
        position: absolute;
        top : 101%;
        left : 0;
        right: 0;
        bottom: 0;
        transition: all ease 200ms;

        &.fulWidth {
            width : 100% !important;
        }
    }
}