
//themeColors
@import "/src/Resources/scss/variables/colorThemes";
//grandeVerticalMods
@import "./LayoutModStyles/grandeVertical";


$boxbgColor : $body-color;
$listOfMods : ($grandeVerticalModLayouts);

//vertical mods layouts
@each $ModName, $ModValue in $listOfMods {
    .#{$ModName} {
        width : 100%;
        height : 100%;
        display : flex;
        $bodyStyles : map-get($ModValue, "styles");
        @each $prperty1, $value1 in $bodyStyles {
            #{$prperty1} : #{$value1}
        }
        $listOfClass : map-remove($ModValue, "styles");
        @each $sectionClass, $valueSection in $listOfClass {
            .#{$sectionClass} {
                $stylesSection : map-get($valueSection, "styles");
                @each $prperty2, $value2 in $stylesSection {
                    #{$prperty2} : #{$value2}
                };
                $listOfClassSubSections : map-remove($valueSection, "styles");
                @each $subSectionClass, $valueSubsection in $listOfClassSubSections {
                    .#{$subSectionClass} {
                        $stylesSubSection : map-get($valueSubsection, "styles");
                        @each $prperty3, $value3 in $stylesSubSection {
                            #{$prperty3} : #{$value3}
                        };
                        $listOfClassBodyElements : map-remove($valueSubsection, "styles");
                        @each $bodyElement, $valueBodyElement in $listOfClassBodyElements {
                            .#{$bodyElement} {
                                $stylesBodyElement : map-get($valueBodyElement, "styles");
                                @each $prperty4, $value4 in $stylesBodyElement {
                                    #{$prperty4} : #{$value4}
                                };
                                $listOfClassElements : map-remove($valueBodyElement, "styles");
                                @each $element, $valueElemt in $listOfClassElements {
                                    .#{$element} {
                                        @each $prperty5, $value5 in $valueElemt {
                                            #{$prperty5} : #{$value5}
                                        };
                                        background: $boxbgColor;
                                    }
                                };
                            };
                        };
                    };
                };
            };
        };
    }
}