@import "/src/Resources/scss/variables/colorThemes";

.body-mod22SquareFormat-layout {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 25.17%;
    padding-bottom: 25.17%;
    padding-left: 4.23%; 
    padding-right: 4.23%;
    flex-direction: row-reverse;
    .content-body {
        height: 100%;
        width: 100%; 
        display: flex;
        gap: 0.05em;
 
        .content-children-body {
            width: 32.82%; 
            flex-grow: 1;
            background: $body-color;
        }
        .content-second-children-body {
            width: 67.18%; 
            flex-grow: 1;
            background: $body-color;
        }
    }
}