@import "./variables/colorThemes";
@font-face {
    font-family: "helvetica";
    src: url("../Fonts/helvetica.ttf");
}
@font-face {
    font-family: "Aitana-Regular";
    src: url("../Fonts/Aitana-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
}

a {
    text-decoration: none;
    
    &:hover, &:focus, &:active {
        text-decoration: none !important;
    }
}

#body-app {
    font-family: "helvetica", sans-serif;
}