@import "/src/Resources/scss/variables/colorThemes";
@font-face {
    font-family: "Aitana-Regular";
    src: url("../../../Resources/Fonts/GandhiSerif-Regular.ttf");
}
@font-face {
    font-family: "BlakaHollow-Regular";
    src: url("../../../Resources/Fonts/BlakaHollow-Regular.ttf");
}

.EditText {
    font-family: Helvetica, sans-serif;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;

    .ck-content {
        height: 57vh !important;
        margin-top: 20px;
        border: 1px solid #E9E4D9 !important;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: none !important;
    }

    .ck-toolbar__items {
        padding : 10px;
    }
    .ck-toolbar {
        background: $secondary-color;
        border: none;
    }
    .ck-dropdown {
        background: $secondary-color;
    }

    .ck-list__item {
        & .ck-button {
            &.ck-on {
                background: $primary-color;
            }
        }
    }

    .ck-button {
        &.ck-on {
            background: $primary-color;
            color : $dark-color !important;
            border : none;
            &:hover {
                background: $primary-color !important;
            }
            &:active, &:focus, &:active:focus {
                box-shadow: none !important;
            }
        }
        &.ck-off {
            border : none;
            &:hover {
                background: $primary-color !important;
            }
            &:active, &:focus, &:active:focus {
                box-shadow: none !important;
            }
        }
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px;
    }
}