@import "/src/Resources/scss/variables/colorThemes";

.ItemPage {
    width: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;
    position: relative;
    padding-top: 8px;

    & .delete-icon {
        top : 0;
        left: 91.5%;
        z-index: 2;
        cursor: pointer;
        position: absolute;
        color: transparent;
        color: transparent;
        transition: all ease 200ms;
    }

    &:hover {
        background: $primary-color;
        .delete-icon {
            top : 0;
            z-index: 2;
            left: 91.5%;
            cursor: pointer;
            color: $dark-color;
            font-weight: bolder;
        }
    }

    &.isActivePage {
        background: $primary-color;
    }

    & .page-container {
        width: auto;
        height: 110px;
        padding: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;

        & .numbPages-container {
            width: 65%;
            display: flex;

            p {
                font-size: 12px !important;
                font-weight: 300;
                color : $dark-color;
            }
        }
    
        &.isFixed {
            cursor: pointer;
        }
    }
}