@import "/src/Resources/scss/variables/colorThemes";

.ItemPage {
    width: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    // max-height: 150px;


    & .delete-icon {
        top : 5%;
        left: 85%;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        color: transparent;
        color: transparent;
        transition: all ease 200ms;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background: $primary-color;
        .delete-icon {
            top : 0;
            background: rgba(44, 44, 44, 0.558);
            border-radius: 5px;
            cursor: pointer;
            color: $dark-color;
            font-weight: bolder;
            color: rgb(255, 255, 255) !important;
        }
    }

    &.isActivePage {
        background: $primary-color;
    }

    & .page-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        & .numbPages-container {
            display: flex;
            margin-top: 0px;
            width: 55%;
            font-size: 12px;
            margin-top: 10px;

            p {
                font-weight: 300;
                color : $dark-color;
            }
        }

        // & .DividerLayout {
        //     transform: scale(1, 0.1);
        // }

        // & .Text {
        //     transform: scale(1, 1) !important;
        // }
    
        &.isFixed {
            cursor: pointer;
        }
    }
}