@import "/src/Resources/scss/variables/colorThemes";

#MenuItem {
    border-bottom: 1px solid #E3E3E3;
    padding: 14px 0px 14px 15px;
    color : $flat-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}