@import "/src/Resources/scss/variables/colorThemes";

.LargeFormat {
    z-index: 1;
    width: 75%;
    height: 70%;
    display: flex;
    display: flex;
    align-items: center;
    background: white;
    justify-content: center;
    border : solid 1px rgb(206, 206, 206);

    .spacer {
        width: 2px;
        height: 100%;
        background: rgb(206, 206, 206);
    }

    .page-body {
        flex-grow: 1;
        height: 100%;
        padding: 0px !important;
    }
}