@import "/src/Resources/scss/variables/colorThemes";

.PhotoCard {
    width      : 157px;
    height     : 157px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}