@import "/src/Resources/scss/variables/colorThemes";
@import "/src/Resources/scss/breakpoints.scss";

#SideBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 100;
    right: 0;
    bottom: 0;
    width: 354px;
    transition: all ease 200ms;
    z-index: 3;

    .body-sidebar {
        flex-grow: 1;
        position: relative;
    }
}