@import "/src/Resources/scss/variables/colorThemes";

.Text {
    cursor: pointer;
    p {
        font-size: initial !important;
    }

    overflow: hidden;

    &.isInPaginator {
        border: 0.05em solid #5FD15C;
    }
    
    &:focus {
        border: 0.05em solid #5FD15C;
    }

    .placeHolderText {
        font-size: 12;
        color : $flat-color;
        margin-left: 10px;
        margin-top: 10px;
    }
}