@import "/src/Resources/scss/variables/colorThemes";

.Text {
    overflow: hidden;
    
    .placeHolderText {
        font-size: 12;
        color : $flat-color;
        margin-left: 10px;
        margin-top: 10px;
    }
}