@import "/src/Resources/scss/variables/colorThemes";

.ItemLayout {
    height: 95px;
    cursor: pointer;
    background: white;
    // aspect-ratio: 1457/1875;
    aspect-ratio: 8/9;
    border: 1px solid $body-color;

    &.isActive {
        border: 1px solid $dark-color;
    }

    &.isFullSize {
        aspect-ratio: 16/9;
    }
}
