@import "/src/Resources/scss/variables/colorThemes";

.ItemLayout {
    height: 95px;
    cursor: pointer;
    background: white;
    border: 1px solid $body-color;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    font-size: 20px;

    &.isActive {
        border: 1px solid $dark-color;
    }
}
