@import "/src/Resources/scss/variables/colorThemes";

.Folder {
    gap: 31.5px;
    width: 324px;
    padding: 5px;
    height: 157px;
    display: flex;
    flex-direction: column;
    transition: all ease 300ms;

    &:hover {
        background: $primary-color;
    }

    h4 {
        font-size: 14px;
        font-weight: 300;
        color : $dark-color;
        text-transform: uppercase;
    }

    .header-folder {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .body-indicator-conatiner {
        height: 100%;
        display: flex;
        cursor: pointer;

        .photo-thumb-nail-container {
            gap: 0px;
            width: auto;
            display: flex;
            .photo-indicator {
                width: 0px;
                margin-right: 0px;
                background-size: cover;
                transition: all ease 250ms;
                background-position: center;
                background-repeat: no-repeat;
    
                &.full-size {
                    width : 57.8px;
                    margin-right: 4px;
                }
            }
        }

        .drager-place {
            flex-grow: 1;
            display: flex;
            font-size: 12px;
            font-weight: 300;
            color:$flat-color;
            align-items: center;
            letter-spacing: 0.05em;
            justify-content: center;
            border: solid 1px $flat-color;


            .label-indicator-drager {
                gap:5px;
                display: flex;
                text-align: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}