@import "/src/Resources/scss/variables/colorThemes";

.body-front-layout {
    width: 100%;
    height: 100%;
    display: flex;
    text-transform: uppercase;
    font-family: "Aitana-Regular";

    .back-book {
        width: 50%;
    }

    .spacer-front-book {
        width: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-style: solid;
        border-left-width: 3px;
        border-right-width: 3px;
        border-image: linear-gradient(to left,rgb(255, 255, 255),rgba(0, 0, 0, 0.2), rgb(255, 255, 255)) 1 100%;

        &.is-in-paginator {
            border-left-width: 1px;
            border-right-width: 1px;

            & .spine-text {
                font-size: 1px;
            }
        }


        .spine-text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color : $dark-color;
            overflow: hidden;
            writing-mode: vertical-rl;
        }
    }

    .front-book {
        width: 50%;
        .body-front-container {
            width: 100%;
            height: 100%;

            .photo-drager-container {
                width: 100%;
                aspect-ratio: 1 / 1;
                border: 0.5px dashed $flat-color;
                padding: 4%;
                cursor: pointer;

                .photo-content {
                    width: 100%;
                    height: 100%;
                    background: $body-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color : #848484;
                }
            }

            h3 {
                line-height: 1em;
                text-align: center;
                color : $dark-color;
                letter-spacing: 0.4px;
                font-size: 2.5em;
            }
        }
    }
}