@import "/src/Resources/scss/variables/colorThemes";

.Button {
	display: flex;
	font: inherit;
	color: inherit;
	cursor: pointer;
	font-size: 22px;
	outline: inherit;
	background: none;
	font-weight: 400;
	padding-top: 10px;
	color : $flat-color;
	align-items: center;
	padding-bottom: 10px;
	justify-content: center;
	text-transform: uppercase;
	transition: all ease 200ms;

	&.subtle {
		background: none;
		border: none !important;
		transition: all ease 200ms;
		font-family: "Aitana-Regular";
		line-height: 19px;
		&:hover {
			cursor: pointer;
			color : $dark-color;
			background-color: $primary-color;
		}
		.button-body {
			p {
				margin-top: 3px !important;
			}
		}
	}

	&.transparent {
		border: none !important;
		background: none;
		&:hover {
			cursor: pointer;
			background: none;
			color : $dark-color;
		}
	}

	&.fullSize { 
		width: 100%;
		border: none;
	}

	.button-body {
		display: flex;
		gap: 10px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
}