@import "/src/Resources/scss/variables/colorThemes";

.LayoutList {
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;

    .body-layout {
        gap : 20px;
        height: 100%;
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        width: calc(100% - 40px);

        .not-found {
            width: 100%;
            height: 95px;
            display: flex;
            font-weight: 100;
            color : $flat-color;
            align-items: center;
            justify-content: center;
        }
    }
}