@import "/src/Resources/scss/variables/colorThemes";

.LayoutList {
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;

    .body-layout {
        gap : 20px;
        height: 100%;
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        width: calc(100% - 40px);
    }
}