@import "/src/Resources/scss/variables/colorThemes";
@import "/src/Resources/scss/breakpoints.scss";

#ManagePagesView {
    padding-left: 185px;
	padding-bottom: 155px;
	padding-right: 354px;
	padding-top: 95px;
	height: 100%;
	width: 100vw;
	display        : flex;
    justify-content : center;
	align-items     : center;

    & .manages-container {
        width: 100%;
        height: 100%;
        z-index: 5;
        padding-top: 15px;
        padding-left: 15px;
        overflow-y: scroll;
        background: white;
    }
}