@import "/src/Resources/scss/variables/colorThemes";
@import "/src/Resources/scss/breakpoints.scss";

.PreviewPages {
	width: 100%;
	height: 88%;
	overflow-y: scroll;
	position: relative;
	top : 12%;
	z-index: 1;

	.photoBookContainer {
		height: 100% !important;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.pagesPreviewPhotoBook {
			height: 992px;
			font-size: 90px;
			transform: scale(0.8, 0.8);
			z-index: 1;

			&.vertical-mediano-preview {
				height: 792px;

				@include laptop {
					transform: scale(0.8, 0.8);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.5, 0.5);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
			}

			&.cuadrado-chico-preview {
				transform: scale(0.8, 0.8);
				height: 595px;

				@include laptop {
					transform: scale(1.1, 1.1);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.48, 0.48);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
			}

			&.cuadrado-grande-preview {
				transform: scale(0.8, 0.8);

				@include laptop {
					transform: scale(0.6, 0.6);
				}

				@include big-laptop {
					transform: scale(0.6, 0.6);
				}
			}

			@include laptop {
				transform: scale(0.65, 0.65);
			}
			@include big-laptop {
				transform: scale(0.75, 0.75);
			}
		}
	}
}