@import "/src/Resources/scss/variables/colorThemes";

.toUploadContainer {
    position: relative;
    width: 100%;
    height: 100%;
    .skeletonContainer {
        display: flex;
        flex-wrap: wrap;
        gap : 10px;
        width: 350px;
        max-height: calc(100% - 10px);
        overflow-y: hidden;
        overflow-x: hidden;

        .imageThumbContainer {
            width: 155px;
            height: 155px;
        }
    }
    .UploadingContainer {
        width: 100%;
        height: 99%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.374);
    
        .upluadIndicatorContainer {
            gap : 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color : $flat-color;
            position: fixed;

            .tittleUploadPhotos {
                color: white;
                font-size: 14px;
                font-weight: 600;
            }

            .lenthPhotosText {
                color: white;
            }

            .bardLoader {
                width: 250px;
                height: 10px;
                border: solid 2px white;
                transition: all ease 250ms;

                .progressLoader {
                    background: white;
                    height: 6px;
                    transition: all ease 250ms;
                }
            }
        }
    }
}

.DropDoc {
    width: 100%;
    flex-grow: 1;
    border: 1px dashed $flat-color;

    display: flex;
    align-items: center;
    justify-content: center;

    .indicator-drop-container {
        color: $flat-color;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        padding-left: 38px;
        font-style: normal;
        text-align: center;
        padding-right: 38px;
        align-items: center;
        flex-direction: column;
        letter-spacing: 0.05em;
        justify-content: center;
        text-transform: uppercase;
        cursor: pointer;

        svg {
            margin-bottom: 5px;
        }
    }

    .options-cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .back-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        .options-card {
            display: flex;
            flex-direction: column;
            gap: 80px;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}