@import "/src/Resources/scss/variables/colorThemes";

#Footer {
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    transition: all ease 200ms;

    &.full-size {
        height: 600px;
    }

    .droped-container-action {
        width: 80px;
        height: 20px;
        cursor: pointer;
        background: $primary-color;
        color : $flat-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease 200ms;
        padding-top: 2px;

        .downArrow {
            transform: rotate(180deg);
            padding-top: 4px !important;
        }
    }

    .header-in-footer-container {
        height: 30px;
        background: $primary-color;
    }

    .body-layouts-container {
        background: white;
        flex-grow: 1;
    }
}