@import "/src/Resources/scss/variables/colorThemes";
@import "/src/Resources/scss/breakpoints.scss";

.PreviewPages {
	width: 100%;
	height: 88%;
	overflow-y: scroll;
	position: relative;
	top : 12%;
	z-index: 1;

	.photoBookContainer {
		height: 100% !important;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.pagesPreviewPhotoBook {
			height: 992px;
			font-size: 90px;
			transform: scale(0.8, 0.8);
			z-index: 1;

			&.vertical-mediano-preview {
				height: 792px;

				@include laptop {
					transform: scale(0.8, 0.8);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.5, 0.5);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
			}

			&.cuadrado-chico-preview {
				transform: scale(0.8, 0.8);
				height: 595px;

				@include laptop {
					transform: scale(1.1, 1.1);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.48, 0.48);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
			}

			&.cuadrado-grande-preview {
				transform: scale(0.8, 0.8);

				@include laptop {
					transform: scale(0.6, 0.6);
				}

				@include big-laptop {
					transform: scale(0.6, 0.6);
				}
			}

			&.travel-coffee-table-preview {
				height: 850px;
				transform: scale(0.73, 0.73);

				@include laptop {
					transform: scale(0.53, 0.53);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.67, 0.67);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.3, 0.3);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.75, 0.75);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.7, 0.7);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.55, 0.55);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.35, 0.35);
						z-index: 1;
					}
				}
			}

			@include laptop {
				transform: scale(0.65, 0.65);
			}
			@include big-laptop {
				transform: scale(0.75, 0.75);
			}
		}
	}
}


.WorkSpace {
	padding-left: 180px;
	padding-bottom: 145px;
	padding-right: 354px;
	padding-top: 80px;
	height: 100%;
	width: 100vw;
	display        : flex;
    justify-content : center;
	align-items     : center;
	position: relative;

	&.previewActive {
		padding-left: 0px;
		padding-bottom: 0px;
		padding-right: 0px;
	}

	@include big-tablet {
		padding-right: 184px;
	}

	.undo-redo-container {
		z-index: 2;
		position: absolute;
		display: flex;
		gap : 30px;
		font-weight: 300;
		width: fit-content;
		top : 38px;
		left : 230px;

		.action-styled {
			height: fit-content;
			width: fit-content;
			gap: 0px;
			display: flex;
			cursor: pointer;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			-webkit-user-select: none;
        	-moz-user-select: none;
        	-ms-user-select: none;
        	user-select: none;

			&.disabled {
				cursor: auto;
				color : grey;
			}
		}

		.labelUndoRedo {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			font-size: 10px;
			
			.actionLabel {
				font-size: 10px;
			}
		}
	}

	.canva-space {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 90px;

		@include laptop {
			font-size: 90px;
		}

		@include big-laptop {
			height: 400px;
		}


		@include big-tablet {
			padding-top: 50px;
		}

		.Text {
			// line-height: 1px !important;
			word-spacing: 0px;
		}

		.ghost-canva {
			width: 100% !important;
			height: 992px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 90px;
			transform: scale(0.6, 0.6);
			z-index: 1;
			
			&.onPreviewContainer {
				transform: scale(0.77, 0.77);

				@include laptop {
					transform: scale(0.6, 0.6);
					margin-bottom: 0px;
					z-index: 1;
				}

				@include big-laptop {
					transform: scale(0.6, 0.6);
					z-index: 1;
					// margin-right: 50px;
				}

				@include big-tablet {
					transform: scale(0.5, 0.5);
					z-index: 1;
				}

				&.horizontal-grande-workSpace {
					transform: scale(0.8, 0.8);

					@include laptop {
						margin-right: 45px;
						transform: scale(0.6, 0.6);
						z-index: 1;
						margin-left: 3.6vw;
					}
	
					@include big-laptop {
						transform: scale(0.65, 0.65);
						z-index: 1;
					}
	
					@include big-tablet {
						transform: scale(0.5, 0.5);
						z-index: 1;
					}

					&.onePage {
						transform: scale(0.8, 0.8);
						z-index: 1;

						@include big-laptop {
							transform: scale(0.75, 0.75);
							z-index: 1;
						}

						@include laptop {
							transform: scale(0.7, 0.7);
							z-index: 1;
						}

						@include big-tablet {
							transform: scale(0.55, 0.55);
							z-index: 1;
						}
					}
				}

				&.horizontal-mediano-workSpace {
					transform: scale(0.95, 0.95);
		
					@include big-laptop {
						transform: scale(0.8, 0.8);
					}

					@include laptop {
						transform: scale(0.8, 0.8);
					}
		
					@include big-tablet {
						transform: scale(0.7, 0.7);
					}

					&.onePage {
						transform: scale(0.95, 0.95);
						z-index: 1;

						@include big-laptop {
							transform: scale(0.9, 0.9);
							z-index: 1;
						}

						@include laptop {
							transform: scale(0.9, 0.9);
							z-index: 1;
						}

						@include big-tablet {
							transform: scale(0.7, 0.7);
							z-index: 1;
						}
					}
				}

				&.horizontal-mediano-layflat-workSpace {
					transform: scale(1, 1);

					@include laptop {
						transform: scale(0.8, 0.8);
					}
		
					@include big-laptop {
						transform: scale(0.85, 0.85);
					}
		
					@include big-tablet {
						transform: scale(0.7, 0.7);
					}
				}

				&.vertical-mediano-workSpace {
					transform: scale(0.9, 0.9);

					@include laptop {
						transform: scale(0.75, 0.75);
					}
		
					@include big-laptop {
						transform: scale(0.8, 0.8);
					}
		
					@include big-tablet {
						transform: scale(0.65, 0.65);
					}
				}

				&.cuadrado-chico-workSpace {
					transform: scale(1, 1);

					@include laptop {
						transform: scale(0.9, 0.9);
					}
		
					@include big-laptop {
						transform: scale(0.95, 0.95);
					}
		
					@include big-tablet {
						transform: scale(0.85, 0.85);
					}

					&.onePage {
						transform: scale(1, 1);

						@include big-laptop {
							transform: scale(0.95, 0.95);
						}

						@include laptop {
							transform: scale(0.9, 0.9);
						}

						@include big-tablet {
							transform: scale(0.85, 0.85);
						}
					}
				}

				&.cuadrado-mediano-workSpace {
					transform: scale(0.75, 0.75);

					@include laptop {
						transform: scale(0.6, 0.6);
					}
		
					@include big-laptop {
						transform: scale(0.65, 0.65);
					}
		
					@include big-tablet {
						transform: scale(0.55, 0.55);
					}
				}

				&.cuadrado-grande-workSpace {
					transform: scale(0.8, 0.8);

					@include laptop {
						transform: scale(0.65, 0.65);
					}
		
					@include big-laptop {
						transform: scale(0.7, 0.7);
					}
		
					@include big-tablet {
						transform: scale(0.6, 0.6);
					}
				}
			}

			&.travel-coffee-table-workSpace {
				height: 992px;
				transform: scale(0.6, 0.6);

				@include laptop {
					transform: scale(0.43, 0.43);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.4, 0.4);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.6, 0.6);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.45, 0.45);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.45, 0.45);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.4, 0.4);
						z-index: 1;
					}
				}
			}

			&.horizontal-grande-workSpace {
				height: 850px;
				transform: scale(0.6, 0.6);

				@include laptop {
					margin-right: 45px;
					transform: scale(0.40, 0.40);
					z-index: 1;
					margin-left: 3.6vw;
				}
	
				@include big-laptop {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.3, 0.3);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.75, 0.75);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.6, 0.6);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.53, 0.53);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.35, 0.35);
						z-index: 1;
					}
				}
			}

			&.horizontal-mediano-workSpace {
				height: 615px;
				transform: scale(0.75, 0.75);

				@include laptop {
					margin-right: 0px;
					transform: scale(0.52, 0.52);
					z-index: 1;
				}
	
				@include big-laptop {
					margin-right: 0px;
					transform: scale(0.65, 0.65);
					z-index: 1;
				}
	
				@include big-tablet {
					margin-right: 45px;
					transform: scale(0.45, 0.45);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.95, 0.95);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.95, 0.95);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.7, 0.7);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.65, 0.65);
						z-index: 1;
					}
				}
			}

			&.horizontal-mediano-layflat-workSpace {
				height: 576px;
				transform: scale(0.75, 0.75);

				@include laptop {
					margin-left: 5px;
					transform: scale(0.54, 0.54);
					z-index: 1;
				}
	
				@include big-laptop {
					margin-right: 30px;
					transform: scale(0.65, 0.65);
					z-index: 1;
				}
	
				@include big-tablet {
					margin-right: 45px;
					transform: scale(0.45, 0.45);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.95, 0.95);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.95, 0.95);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.7, 0.7);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.65, 0.65);
						z-index: 1;
					}
				}
			}

			&.vertical-mediano-workSpace {
				height: 792px;
				transform: scale(0.8, 0.8);

				@include laptop {
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
			}

			&.cuadrado-chico-workSpace {
				transform: scale(1, 1);
				height: 595px;

				@include laptop {
					transform: scale(0.65, 0.65);
					margin-right: 40px;
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.85, 0.85);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.75, 0.75);
					z-index: 1;
				}

				&.onePage {
					transform: scale(0.95, 0.95);
					z-index: 1;

					@include big-laptop {
						transform: scale(0.85, 0.85);
						z-index: 1;
					}

					@include laptop {
						transform: scale(0.75, 0.75);
						z-index: 1;
					}

					@include big-tablet {
						transform: scale(0.7, 0.7);
						z-index: 1;
					}
				}
			}

			&.cuadrado-mediano-workSpace {
				transform: scale(0.55, 0.55);
				height: 850px;

				@include laptop {
					transform: scale(0.40, 0.40);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.52, 0.52);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.42, 0.42);
					z-index: 1;
				}
			}

			&.cuadrado-grande-workSpace {
				transform: scale(0.6, 0.6);
				height: 850px;

				@include laptop {
					transform: scale(0.45, 0.45);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.57, 0.57);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.47, 0.47);
					z-index: 1;
				}
			}

			@include laptop {
				transform: scale(0.43, 0.43);
				margin-bottom: 10px;
				z-index: 1;
			}

			@include big-laptop {
				transform: scale(0.55, 0.55);
				z-index: 1;
				// margin-right: 50px;
			}

			@include big-tablet {
				transform: scale(0.45, 0.45);
				z-index: 1;
			}
		}
	}
}