@import "/src/Resources/scss/variables/colorThemes";
@import "/src/Resources/scss/breakpoints.scss";

.PreviewPages {
	width: 100%;
	height: 88%;
	overflow-y: scroll;
	position: relative;
	top : 12%;
	z-index: 1;

	.photoBookContainer {
		height: 100% !important;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.pagesPreviewPhotoBook {
			height: 750px;
			font-size: 90px;

			@include laptop {
				height: 650px;
			}
		}
	}
}


.WorkSpace {
	padding-left: 180px;
	padding-bottom: 145px;
	padding-right: 354px;
	padding-top: 80px;
	height: 100%;
	width: 100vw;
	display        : flex;
    justify-content : center;
	align-items     : center;
	position: relative;

	@include big-tablet {
		padding-right: 184px;
	}

	.undo-redo-container {
		z-index: 2;
		position: absolute;
		display: flex;
		gap : 15px;
		font-size: 12px;
		font-weight: 300;
		width: fit-content;
		top : 30px;
		left : 250px;

		.action-styled {
			height: fit-content;
			width: fit-content;
			gap: 0px;
			display: flex;
			cursor: pointer;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			-webkit-user-select: none;
        	-moz-user-select: none;
        	-ms-user-select: none;
        	user-select: none;

			&.disabled {
				cursor: auto;
				color : grey;
			}
		}

		.labelUndoRedo {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			.actionLabel {
				font-weight: 500;
				font-size: 9px;
			}
		}
	}

	.canva-space {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 90px;

		@include laptop {
			font-size: 90px;
		}

		@include big-laptop {
			height: 400px;
		}


		@include big-tablet {
			padding-top: 50px;
		}

		.Text {
			// line-height: 1px !important;
			word-spacing: 0px;
		}

		.ghost-canva {
			width: 100% !important;
			height: 991.6px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 90px;
			transform: scale(0.68, 0.68);
			z-index: 1;

			&.cuadrado-workSpace {
				transform: scale(0.6, 0.6);

				@include laptop {
					height: 700px;
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
	
				@include big-laptop {
					transform: scale(0.50, 0.50);
					z-index: 1;
				}
	
				@include big-tablet {
					transform: scale(0.6, 0.6);
					z-index: 1;
				}
			}

			@include laptop {
				height: 700px;
				transform: scale(0.6, 0.6);
				z-index: 1;
			}

			@include big-laptop {
				transform: scale(0.7, 0.7);
				z-index: 1;
			}

			@include big-tablet {
				transform: scale(0.6, 0.6);
				z-index: 1;
			}
		}
	}
}