@import "/src/Resources/scss/variables/colorThemes";

.body-mod4SquareFormat-layout {
    padding-top: 15.40%;
    padding-bottom: 15.40%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    .content-body {
        width: calc(100% - 0px);
        height: 100%;
        background: $body-color;
    }
}