@import "/src/Resources/scss/variables/colorThemes";

#PaginatorBar {
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    .header-ittle-paginator {
        font-size: 16px;
        font-weight: 400;
        font-family: "Aitana-Regular";
        color: $dark-color;
    }

    .navbar-paginator-container {
        background: blue;
        width: 100%;
        flex-grow: 1;
    }
}