@import "/src/Resources/scss/variables/colorThemes";

#PaginatorBar {
    height: 100%;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    .header-ittle-paginator {
        font-size: 16px;
        font-weight: 400;
        font-family: "Aitana-Regular";
        color: $dark-color;
    }

    .navbar-paginator-container {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;

        .item-page-container {
            width: 100%;
            height: 102px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease 200ms;
            cursor: pointer;

            &:hover {
                background: $primary-color;
            }
        }
    }
}