@import "/src/Resources/scss/variables/colorThemes";

.CheckBox {
    gap: 5px;
    display: flex;
    cursor: pointer;
    width: fit-content;

    &.is-loading {
        cursor: progress;
        .check-box {
            border: solid 2px $primary-color;

            .filling {
                background: $primary-color;
            }
        }

        .label-checkbox {
            color : $primary-color;
            cursor: progress;
        }
    }

    .check-box {
        width : 20px;
        height: 20px;
        padding : 2px;
        border: solid 2px $dark-color;

        .filling {
            width: 100%;
            height: 100%;
            background: $dark-color;
        }
    }

    .label-checkbox {
        display: flex;
        font-size: 12px;
        cursor: pointer;
        margin-top: 1px;
        font-weight: 300;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
}