@import "/src/Resources/scss/variables/colorThemes";

.FrontPage {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;
    cursor: pointer;

    &.isInThisPage {
        background: $primary-color;
    } 

    &:hover {
        background: $primary-color;
    }

    .my-page-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .withe-page-container {
            height: 85px;
            font-size: 17px;
        }
    
        .pages-book-conatier {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-left: 11.5px;
            padding-right: 11.5px;
            margin-top: 10px;
            margin-bottom: 5px;
    
            p {
                color : $dark-color;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
            }
        }

        &:hover {
            .drag-icon-conatainer {
                opacity: 100;
            }

            .cross-icon-conatiner {
                opacity: 100;
            }

            .pages-book-conatier {
                p {
                    color : $dark-color;
                }
            }
        }
    }
}