@import "/src/Resources/scss/variables/colorThemes";

.body-mod14-layout {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20.38%;
    padding-bottom: 20.38%;
    padding-left: 1.66%; 
    padding-right: 1.66%;
    flex-direction: row-reverse;
    .content-body {
        height: 100%;
        width: 100%; 
        display: flex;
        gap: 0.05em;
 
        .content-children-body {
            width: 100%; 
            flex-grow: 1;
            background: $body-color;
        }
    }
}